Ejercicio_2/Ejercicio_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="plataforma">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="cursos"/>
                    <xs:element ref="alumnos" maxOccurs="unbounded"/>
                    <xs:element ref="matriculas"/>
                    <xs:element ref="evaluaciones"/>
                </xs:sequence>
                <xs:attribute name="fecha_publicacion" use="required"/>
            </xs:complexType>
        </xs:element>

        <xs:element name="cursos">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="curso" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="alumnos">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="alumno" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="matriculas">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="matricula" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

                <xs:element name="evaluaciones">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="evaluacion" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="curso">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="titulo" type="xs:string"/>
                    <xs:element name="nivel" type="xs:string"/>
                    <xs:element name="modalidad" type="xs:string"/>
                    <xs:element name="horas" type="xs:int"/>
                    <xs:element ref="modulos" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="id" use="required"/>
                <xs:attribute name="codigo" use="required"/>
            </xs:complexType>
        </xs:element>


        <xs:element name="modulos">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="modulo" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="nombre" type="xs:string"/>
                                <xs:element name="horas" type="xs:int"/>
                            </xs:sequence>
                            <xs:attribute name="clave" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="alumno">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="telefono" type="xs:int"/>
                </xs:sequence>
                <xs:attribute name="id" use="required"/>
                <xs:attribute name="nif" use="required"/>
            </xs:complexType>
        </xs:element>

        <xs:element name="matricula">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="fecha_alta" type="xs:date"/>
                    <xs:element name="estado" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" use="required"/>
                <xs:attribute name="alumnoRef" use="required"/>
                <xs:attribute name="cursoRef" use="required"/>
            </xs:complexType>
        </xs:element>

        <xs:element name="evaluacion">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="instrumento" type="xs:string"/>
                    <xs:element name="convocatoria" type="xs:string"/>
                    <xs:element name="nota" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" use="required"/>
                <xs:attribute name="matriculaRef" use="required"/>
            </xs:complexType>
        </xs:element>
    </xs:schema>

        <!-- https://github.com/davidvanoverbeek/Proyecto-XML-XSD-DTD -->